body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    margin-top: 20px;
}

.logo {
    margin-bottom: 20px;
}

h1 {
    color: white;
}

h2 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="password"] {
    padding: 5px;
    width: 200px;
    margin-bottom: 10px;
}

button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#error-message {
    color: red;
}